# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Data
data/raw/
data/processed/

# Checkpoints
checkpoints/

# Logs
logs/
*.log

# Hydra
outputs/
multirun/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.envrc
.venv/
venv/
plots/raw_data/

# Evaluations
evaluations/
